body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.fieldWrapper {
  width: 217px;
  height: 217px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid grey;
}

.btnWrapper {
  display: flex;
}

.triesWrapper {
  display: flex;
}